table {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 1em 1em 1em;
    border-collapse: separate;
}

th {
    padding: 1.5em;
    border-bottom: 1px solid #cccccc;
}

tbody td {
    border-bottom: 1px solid #cccccc;
}

tbody td:first-child {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

tbody td:last-child {
    border-right: 1px solid #cccccc;
}

tbody td[pass] {
    border-left: 1px dotted #cccccc;
    border-right: 1px solid #cccccc;
}

tbody td input {
    width: 80px;
}

tbody td img {
    vertical-align: middle;
}

tbody tr[default_user='true'] {
    font-weight: bold;
}

tfoot td {
    text-align: right;
    padding: 1em 0 0 0;
}

td input {
    margin: 0.5em;
}

input[type="text"] {
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    background: #ffffff !important;
    outline: none;
    margin: 4px;
}

img {
    width: 24px;
    height: 24px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}